page-depart {
        ion-content{
            background-image: url('../assets/img/route2.jpg');
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        opacity: 1.5;
            
        }
        #number{
                color: red;
            }

}
