page-airports {

    ion-content{
        background-image: url('../../assets/img/airport.jpg');
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        opacity: 1.5;
    }

    #codea{
        font-size: 20px;
    }
  
}
