page-airportresult {
        ion-content{
            background-image: url('../../assets/img/airportbg.jpg');
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        opacity: 1.5;
            
        }
        #number{
                color: red;
            }
        #titre{
            font-size: 30px;
            color: black;
        }



}
